.autoShow {
    animation: text-appear 1s both;
    animation-timeline: view();
    animation-range: entry 10% cover 100vh;
}

@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.imageReveal {
    animation: imageReveal 1s both;
    animation-timeline: view(50% auto);
}

@keyframes imageReveal {
    from {
        filter: saturate(0) contrast(4) brightness(.1) blur(5px);
        opacity: 0;
        scale: .95;
        translate: 0 4rem;
    }
    to {
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}